<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.ClazzMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Clazz">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="goal" jdbcType="VARCHAR" property="goal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, student_number, goal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t (id, class_name, student_number, 
      goal)
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{studentNumber,jdbcType=INTEGER}, 
      #{goal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="goal != null">
        goal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    set class_name = #{className,jdbcType=VARCHAR},
      student_number = #{studentNumber,jdbcType=INTEGER},
      goal = #{goal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Clazz">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="goal" jdbcType="VARCHAR" property="goal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, student_number, goal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t (id, class_name, student_number, 
      goal)
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{studentNumber,jdbcType=INTEGER}, 
      #{goal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="goal != null">
        goal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    set class_name = #{className,jdbcType=VARCHAR},
      student_number = #{studentNumber,jdbcType=INTEGER},
      goal = #{goal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Clazz">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="goal" jdbcType="VARCHAR" property="goal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, student_number, goal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t (id, class_name, student_number, 
      goal)
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{studentNumber,jdbcType=INTEGER}, 
      #{goal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="goal != null">
        goal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    set class_name = #{className,jdbcType=VARCHAR},
      student_number = #{studentNumber,jdbcType=INTEGER},
      goal = #{goal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Clazz">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="goal" jdbcType="VARCHAR" property="goal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, student_number, goal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from j11_clazz_t
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t (id, class_name, student_number, 
      goal)
    values (#{id,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{studentNumber,jdbcType=INTEGER}, 
      #{goal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Clazz">
    insert into j11_clazz_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="goal != null">
        goal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Clazz">
    update j11_clazz_t
    set class_name = #{className,jdbcType=VARCHAR},
      student_number = #{studentNumber,jdbcType=INTEGER},
      goal = #{goal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>